<link href="/css/output.css" rel="stylesheet">
<footer class="bg-gray-700 text-white text-center py-4 mt-8">
    <div class="flex justify-center space-x-6 mb-4">
        <a href="#" class="hover:text-gray-400">Facebook</a>
        <a href="#" class="hover:text-gray-400">Instagram</a>
        <a href="#" class="hover:text-gray-400">Twitter</a>
    </div>
    <p>&copy; 2025 Visit Toronto | All Rights Reserved</p>
</footer>
