<nav class="bg-blue-500 p-4 text-white">
    <ul class="flex justify-center space-x-4">
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/attractions">Attractions</a></li>
        <li><a href="/food">Food</a></li>
        <li><a href="/events">Events</a></li>
        <li><a href="/history">History</a></li>
        <li><a href="/nightlife">Nightlife</a></li>
        <li><a href="/parks">Parks</a></li>
        <li><a href="/shopping">Shopping</a></li>
        <li><a href="/transit">Transit</a></li>
        <li><a href="/contact">Contact</a></li>
    </ul>
</nav>