<link href="/css/output.css" rel="stylesheet">

<nav class="bg-blue-500 p-4 text-white">
    <ul class="flex justify-center space-x-4">
        <li><a href="/" class="hover:text-gray-300">Home</a></li>
        <li><a href="/about" class="hover:text-gray-300">About</a></li>
        <li><a href="/attractions" class="hover:text-gray-300">Attractions</a></li>
        <li><a href="/food" class="hover:text-gray-300">Food</a></li>
        <li><a href="/events" class="hover:text-gray-300">Events</a></li>
        <li><a href="/history" class="hover:text-gray-300">History</a></li>
        <li><a href="/nightlife" class="hover:text-gray-300">Nightlife</a></li>
        <li><a href="/parks" class="hover:text-gray-300">Parks</a></li>
        <li><a href="/shopping" class="hover:text-gray-300">Shopping</a></li>
        <li><a href="/transit" class="hover:text-gray-300">Transit</a></li>
        <li><a href="/contact" class="hover:text-gray-300">Contact</a></li>
    </ul>
</nav>
