<%- include('partials/header') %>
<%- include('partials/navbar') %>

<main class="container mx-auto p-8">
    <h1 class="text-3xl font-bold">Public Transit in Toronto</h1>
    <p class="mt-4">Toronto’s public transit system (TTC) includes:</p>
    <ul class="mt-4 list-disc ml-6">
        <li><b>Subways</b> – Fast and reliable way to get around.</li>
        <li><b>Buses & Streetcars</b> – Great for shorter trips.</li>
    </ul>
</main>

<%- include('partials/footer') %>