<!-- <link href="/css/output.css" rel="stylesheet"> -->
<link rel="stylesheet" href="/css/style.css">

<footer class="text-white text-center">
    <div class="flex justify-center space-x-6 mb-4">
        <a href="#" class="social-links">Facebook</a>
        <a href="#" class="social-links">Instagram</a>
        <a href="#" class="social-links">Twitter</a>
    </div>
    <p>&copy; 2025 Visit Toronto | All Rights Reserved</p>
</footer>
