<link href="/css/output.css" rel="stylesheet">
<link rel="stylesheet" href="/css/style.css">


<header class="header">
    <div class="container">
        <h1>Visit Toronto</h1>
        <button class="explore-btn">Explore Now</button>
    </div>
</header>
