<nav class="navbar">
    <div class="container">
        <a href="/" class="logo">Toronto</a>
        <ul class="nav-links">
            <li><a href="/" class="nav-item active">Home</a></li>
            <li><a href="/about" class="nav-item">About</a></li>
            <li><a href="/attractions" class="nav-item">Attractions</a></li>
            <li><a href="/food" class="nav-item">Food</a></li>
            <li><a href="/events" class="nav-item">Events</a></li>
            <li><a href="/history" class="nav-item">History</a></li>
            <li><a href="/nightlife" class="nav-item">Nightlife</a></li>
            <li><a href="/parks" class="nav-item">Parks</a></li>
            <li><a href="/shopping" class="nav-item">Shopping</a></li>
            <li><a href="/transit" class="nav-item">Transit</a></li>
            <li><a href="/contact" class="nav-item">Contact</a></li>
        </ul>
        <div class="menu-toggle">&#9776;</div>
    </div>
</nav>
